
  <form>
    <div class="agregar">
        <div class="agregar_contenedor">
            <select class="agregar_tipo"  >
                <option value="ing" selected >+</option>
                <option value="egr">-</option>
            </select>
            <input type="text" class="agregar_descripcion" placeholder="Agregar Descripción" [(ngModel)]="desc" name="desc">
            <input type="number" class="agregar_valor" placeholder="Valor" [(ngModel)]="value" name="value">
            <button class="agregar_btn" (click)="enviarNuevoIngreso()" (click)="enviarNuevoIngreso()"><i class="ion-ios-checkmark-outline"></i></button>
        </div>
    </div>
  </form>
